@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 22px;
  }

  #openRoadTop {
    background-image: url(../media/openRoadHalf1GS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#openRoadFooter {
    background-image: url(../media/openRoadHalf2GS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Inventory Gallery */
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Form */

.messages {
    color: rgb(98, 98, 98);
    padding: 2em;
    margin-bottom: 2em;
    list-style-type: none;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
  
input[type=button] {
    width: 100px;
    background-color: #272727;
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=button]:hover {
    background-color: #000000;
}

.formFormat {
    padding: 20px;
}
  
  /* Media Query for Mobile Viewport */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }